<!DOCTYPE html>
<html>

<head>
    <title>AI Text Summarizer</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<body>

<div class="container">

    <h1>AI Based Text Summarization</h1>

{% if error %}
<div class="error-message">
    {{ error }}
</div>
{% endif %}
    <form action="/" method="POST" enctype="multipart/form-data">

        <!-- Text Input -->
        <div class="section">

            <h3>1. Enter Text or Upload Document</h3>

            <textarea name="text"
                      placeholder="Paste your text here..."></textarea>

            <input type="file" name="file">

        </div>

        <!-- Model Selection -->
        <div class="section">

            <h3>2. Select Model</h3>

            <label>
                <input type="radio"
                       name="model"
                       value="bert"
                       checked>

                BERT (Extractive)
            </label>

            <label>
                <input type="radio"
                       name="model"
                       value="bart">

                BART (Abstractive)
            </label>

        </div>

        <!-- Submit Button -->
        <div class="section">

            <button id="summarizeBtn" type="submit">
                Summarize
            </button>

        </div>

    </form>

</div>



</body>
</html>